<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/calendar.css">
</head>

<body>
    <h1>Calendar working</h1>

    <p>SELECT A DAY:</p>
    <input type="date" id="change-url">

    <form action="/" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.name.label }} {{ form.name() }}</p>
        <p>{{ form.start_date.label }} {{ form.start_date() }}</p>
        <p>{{ form.start_time.label }} {{ form.start_time() }}</p>
        <p>{{ form.end_date.label }} {{ form.end_date() }}</p>
        <p>{{ form.end_time.label }} {{ form.end_time() }}</p>
        <p>{{ form.description.label }} {{ form.description() }}</p>
        <p>{{ form.private.label }} {{ form.private() }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <div>
        <!-- {{ form.end_date.label }} {{ form.end_date }} -->
        {% if form.end_date.errors %}
        <ul class="errors">
            {% for error in form.end_date.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="whole-table">
        {% for appt in appointments %}
        <div class="{{appt.lastclass}}">
            <div class="{{appt.class}}">
                <div>{{appt.time}}</div>
            </div>
            <div class="appt-cont">
                {% if appt.appt %}
                <div class="appt">
                    {{appt.appt}}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        let changeUrl = document.querySelector("#change-url")
        changeUrl.addEventListener('change', e => {
            // console.log(e.target.value)
            const [year, month, day] = e.target.value.split("-")
            window.location.replace(`/${year}/${month}/${day}`)
        })

    </script>
</body>

</html>
