<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/calendar.css">
</head>

<body>
    <h1>Calendar working</h1>

    <p>SELECT A DAY:</p>
    <input type="date" id="change-url">

    <form action="/" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.name.label }} {{ form.name() }}</p>
        <p>{{ form.start_date.label }} {{ form.start_date() }}</p>
        <p>{{ form.start_time.label }} {{ form.start_time() }}</p>
        <p>{{ form.end_date.label }} {{ form.end_date() }}</p>
        <p>{{ form.end_time.label }} {{ form.end_time() }}</p>
        <p>{{ form.description.label }} {{ form.description() }}</p>
        <p>{{ form.private.label }} {{ form.private() }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <div>
        <!-- {{ form.end_date.label }} {{ form.end_date }} -->
        {% if form.end_date.errors %}
        <ul class="errors">
            {% for error in form.end_date.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="whole-table">
        {% for time in times %}
        <div>
            <div class="{{time[0]}}">
                <div>{{time[1]}}</div>
            </div>
            <div class="appt-cont">
                <div class="appt">
                    Instructional Touchpoint, 9am
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>{{appointment.name}}</td>
                <td>{{appointment.start_datetime}}</td>
                <td>{{appointment.end_datetime}}</td>
            </tr>
            <!-- loop here to create rows -->
            <!-- use strftime to format date objects -->
            <!-- loop here to create rows -->
            {% endfor %}
        </tbody>
    </table>
    <script>
        let changeUrl = document.querySelector("#change-url")
        changeUrl.addEventListener('change', e => {
            // console.log(e.target.value)
            const [year, month, day] = e.target.value.split("-")
            window.location.replace(`/${year}/${month}/${day}`)
        })

    </script>
</body>

</html>
